<launch>
  <!--node machine="xenomai_root" pkg="pr2_etherCAT" type="pr2_etherCAT" args="-i eth0 -x /robot_description"/-->
  <node name="pressure_source" pkg="pr2_etherCAT" type="pr2_etherCAT" args="-i eth0 -x /u/blaise/work/pressure_sensor_test/test_configuration.xml" output="screen">
  </node>


</launch>

